{{#extends 'base'}}
{{#block 'content'}}

<h1>Update Product: {{food.name}}</h1>

<form method="POST">
    {{{updateProductForm}}}
    <input type="submit" value="Update Product" class="btn btn-primary"/>
</form>


{{/block}}
{{/extends}}